<div id="column-navi">

  <div class="box box-white" id="categories">
  </div>
  
  <div class="box box-white" id="tags">
  </div>
  
  <div class="box box-white" id="info">
  </div>
  
  <div class="box box-transparent" id="payments">
  </div>
</div>
