<div id="footer">

  <div id="credits">
    <ul>
      <li>software: <a href="http://www.xpect.pl/" target="_blank">xpect.pl</a></li>
    </ul>
  </div>


  <div id="disclaimer">
    <strong>Through the Ages</strong> is a game by Vlaada Chvatil, originally published by Czech Games Edition.
    &copy; 2008 All rights reserved</p>
  </div>
</div>
