<h3><%= t("game.phase.civilization.#{@game.phase}") %></h3>
<ul style="font-size: 10px;">
  <li>Odrzuć nadmiar kart militarnych - maksymalnie możesz zachować <%= @game.player.max_military_cards %>.</li>
</ul>