<h3>Popularne zapytania</h3>
<ul>
  <li><a rel="tag" style="font-size: 50%" href="#">2 osoby</a></li>
  <li><a rel="tag" style="font-size: 80%" href="#">andreas seafarth</a></li>
  <li><a rel="tag" style="font-size: 140%" href="#">Carcassonne</a></li>
  <li><a rel="tag" style="font-size: 200%" href="#">familijne</a></li>
  <li><a rel="tag" style="font-size: 15%" href="#">Gra Roku</a></li>
  <li><a rel="tag" style="font-size: 50%" href="#">Jactalea</a></li>
  <li><a rel="tag" style="font-size: 38%" href="#">pitchcar</a></li>
  <li><a rel="tag" style="font-size: 150%" href="#">planszówki</a></li>
  <li><a rel="tag" style="font-size: 10%" href="#">seafarth</a></li>
  <li><a rel="tag" style="font-size: 120%" href="#">Spiel des jahres</a></li>
  <li><a rel="tag" style="font-size: 110%" href="#">Warcraft</a></li>
  <li><a rel="tag" style="font-size: 140%" href="#">WoW</a></li>
  <li><a rel="tag" style="font-size: 65%" href="#">Wyścigi</a></li>
  <li><a rel="tag" style="font-size: 212%" href="#">z catanu</a></li>
</ul>
